@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin:0;
    padding:0;
}



body{
    background:#212121;
    overflow-x: hidden;
}

.nav{
position: fixed;
width: 100vw;
height: 100px;
left: 0px;
top: 0px;
background: #323232;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
z-index:5;
}

.logo{
position: fixed;
width: 134px;
height: 134px;
left: 75px;
top: 25px;
border-radius: 50%;
background:#323232;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
display: flex;
align-items: center;
justify-content: center;
z-index:10;
}

.logo:hover{
    cursor: pointer;
}

.logo img{
    width:100%;
}

.menu{
position: absolute;
width: 710px;
height: 25px;
left: 24%;
top: 35px;
display: flex;
align-items: center;
justify-content: space-around;
}



.menu a{
    color:white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu a:hover{
    color:#14FFEC;
}


.box{
position: absolute;
width: 158px;
height: 48px;
left: 81%;
top: 25px;
border: 3px solid #0D7377;
box-sizing: border-box;
filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.35));
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
}

.box a{
    text-align: center;
    width: 158px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 16px;
    color: #14FFEC;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.35);
}

.box:hover{
    background: #0D7377;
    border: 3px solid #14FFEC;
    color:#212121;
    cursor:pointer;
}

.hamburger{
    display: none;
}

.content{
    width:100%;
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    z-index:-1;
}

.text{
    width:55%;
    font-family:Poppins;
    padding-left:75px;
    padding-top: 35px;
}

.text h1{
   font-size: 56px;
   color:#14FFEC;
   text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.35);
   margin-bottom: 10px;
}

.text h3{
    font-size: 24px;
   color: #0D7377;
   text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.35);
   margin-bottom: 18px;
}

.text p{
    font-size: 20px;
   color: #F0F5F9;
   text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.35);
   margin-bottom: 36px;
}

.text a{
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #14FFEC;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.35);
    border: 3px solid #0D7377;
    box-sizing: border-box;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.35));
    border-radius: 8px;
    padding:10px 30px;
    z-index: -1;
}

.text a:hover{
    background: #0D7377;
    border: 3px solid #14FFEC;
    cursor:pointer; 
}
.image{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width:100%;
}

.poster{
    width:100%;
    margin-top: 80px;
    padding:80px 0;
    display: flex;
    flex-direction: column;
    z-index:-1;
    align-items: center;
    justify-content: center;
}

.poster .text{
    width:70%;
    padding-left: 0px;
    background: #323232;
    box-shadow: 2px 2px 4px 3px #14FFEC;
    padding:60px;
}

.poster h1{
    padding:0;
    font-size: 42px;
    text-align: center;
}

.poster hr{
    width:60px;
    height:3px;
    background:#212121;
    margin: 30px auto;
}

.poster p{
    text-align: justify;
    margin-bottom: 40px;
}

.testimonials{
    width:100%;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    z-index:-1;
}
.heading{
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: poppins;
    color: #14FFEC;
}

.cards{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px auto;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card{
    width:270px;
    height:370px;
    background: #212121;
    box-shadow: 2px 2px 30px 30px #323232;
    margin-bottom: 30px;
}

.photo{
    width:100%;
    height:150px;
    background: #F0F5F9;
}

.card h3{
    font-size: 18px;
    color:#14FFEC;
    text-align: left;
    margin-left: 10px;
    margin-top:5px;
}

.card h5{
    font-size: 12px;
    color:#0D7377;
    text-align: left;
    margin-left: 10px;
    margin-top:5px;
}

.card p{
    margin-top:5px;
    margin-left:10px;
    margin-right: 10px;
    font-size: 13px;
    text-align: left;
    color:#F0F5F9;
}

.readmore a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: #14FFEC;
    
}

.readmore{
    margin-bottom: 80px;
}


.newsletter{
    width:100%;
    margin-top: 120px;
    z-index:-1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter hr{
    width:60px;
    height:3px;
    background:#212121;
    margin: 30px auto;
}

.newsletter p{
    width:70%;
    margin:10px auto;
    font-size: 20px;
    color:#F0F5F9;
}

.subscribe{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.newsletter input{
    width:270px;
    background: #323232;
    border:none;
    padding: 13px;
    margin-bottom: 30px;
    outline: none;
    color:#323232;
    font-size: 16px;
}
.newsletter input:focus{
    outline:none;
    background: #F0F5F9;
}
.newsletter a{
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #14FFEC;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.35);
    border: 3px solid #0D7377;
    box-sizing: border-box;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.35));
    border-radius: 8px;
    padding:7px 30px;
    z-index: -1;
    margin-top: -1px;
    margin-left: 20px;
    
}


.internship{
    width:100%;
    margin-top: 120px;
    z-index:-1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.category{
width: 250px;
height: 50px;
margin:20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
background: #323232;
border-radius: 15px;
font-size: 16px;
color:#F0F5F9;
font-family: 'poppins';
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.placement{
    width:100%;
    margin-top: 120px;
    z-index:-1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 160px;
}

.placement-topic{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 70px;
    flex-wrap: wrap;
}

.jobseeker{
    background: #323232;
    width: 320px;
    padding:20px;
    height: 340px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    margin-bottom: 30px;
}

.employers{
    background: #323232;
    width: 320px;
    padding:20px;
    height: 340px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    margin-bottom: 30px;
}


.jobseeker h1{
    color:#14FFEC;
    font-family: poppins;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.jobseeker p{
    color:#F0F5F9;
    font-family: poppins;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 45px;
    cursor: pointer;
}

.employers h1{
    color:#14FFEC;
    font-family: poppins;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.employers p{
    color:#F0F5F9;
    font-family: poppins;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 45px;
    cursor: pointer;
}


.showmobile{
    display: none;
}





@media screen and (max-width: 1240px){
    .nav{
        position: fixed;
        width:100vw;
        height:100px;
    }
    .menu{
        display: none;
    }
    .logo{
        left:43%;
    }
    .box{
        left:75%;
    }

.hamburger{
    display: block;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 35px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #F0F5F9;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 280px;
  height:100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 180px;
  background: #0D7377;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{

  padding: 10px 0;
  font-size: 28px;
  font-family: poppins;
  margin-bottom: 20px;
  color:#F0F5F9;
  text-shadow: 2px 2px 2px #323232;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
}















@media screen and (max-width: 820px){
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:200px;
    }

    .content .text{
        width:85%;
        margin:0 auto;
        padding-left:0;
        text-align: center;
    }

    .content .text h1,h3{
        text-align: center;
    }

    .content .text p{
        text-align:justify;
    }
    
    .content .image{
        width:60%;
    }


   
}

@media screen and (max-width: 660px){
    .content{
        margin-top:150px;
    }

    .logo{
        left:40%;
    }

    .box{
        left:70%;
    }
}




@media screen and (max-width: 500px){
    .logo{
        left:36%;
    }

    .box{
        left:70%;
        width:120px;

    }

    .box a{
        font-size: 13px;
    }

    .mobile{
        display: none;
    }

    .showmobile{
        width:100%;
        display: block;
        margin-top: 30px;
        font-family: poppins;
        text-align: center;
        
    }
}


@media screen and (max-width: 400px){
    .nav{
        height:100px;
        width:400px;
    }
    .logo{
        width:100px;
        height:100px;
        left:35%;
        
    }
    .box{
        left:61%;
    }
    .content{
        margin-top:105px;
    }

    .content .image{
        margin-top: 40px;
        width:100%;
    }

    .poster{
        width:80%;
        margin:0px auto;
    }
    .hamburger{
        margin-left: -5px;
    }
}

@media screen and (max-width: 365px){
    .box{
        left:58%;
    }
}